name: CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo install difftastic
      - run: zig build test --summary all
